.azul{
    color: #4062BB
}
.negro{
    color: #161925
}
.blanco{
    color: #EBEBEB
}
.rojo{
    color: #F24333
}
.naranja{
    color: #FF8F1F
}
.amarillo{
    color: #F7B801
}
.verde{
    color: #00B800
}
.azul-fondo{
    background-color: #4062BB
}
.negro-fondo{
    background-color: #161925
}
.blanco-fondo{
    background-color: #EBEBEB
}
.rojo-fondo{
    background-color: #F24333
}
.naranja-fondo{
    background-color: #FF8F1F
}
.amarillo-fondo{
    background-color: #F7B801
}
.verde-fondo{
    background-color: #00B800
}
.list-group-mine .list-group-item {
    background-color: #EBEBEB;
  }
  
.list-group-mine .list-group-item:hover {
    background-color: #4062BB;
    color: #EBEBEB;
}