
.cardInfoContainer .cardButton{
    width: 100%;
}

.cardImage{
    padding-left: 64%;
    height:  25%;
    background-color: rgb(228, 199, 161);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26, 26, 26);
}

.cardTextInfo{
    font-weight: 300;
}

.cardBodyInfo{
    background-color: rgb(207, 207, 207);
    border-style: solid;
    border-top-style: none;
    border-width:thin;
    border-color: rgb(26, 26, 26);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}